<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table,td{
            border: 1px solid;
        }

        td{
            padding: 0.5rem 1rem;
        }
    </style>
  </head>
  <body>
    <h1>Welcome <%= user %></h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Price</b></td>
                </tr>
            </thead>
            <% for(var i=0;i<products.length;i++) { %>
                <tr>
                    <td><%= products[i].name %> </td>
                    <td><%= products[i].price %> </td>
                </tr>
            <% } %>
        </table>
    </div>
  </body>
</html>
